<body>
    <h3>Rellena los datos del siguiente formulario para inscribirte en un curso</h3>
    <p>Los campos que contienen un "*" son obligatorios.</p>
    <div class="miFormulario">
        <form [formGroup]="MyNewForm" (ngSubmit)="Clic(MyNewForm.value)">

            <!-- Campo nombre  -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre *</span>
                </div>
                <input class="form-control" type="text" name="nombre" formControlName="nombre" placeholder="Ej: Eloi">
            </div>
            <div *ngIf="nombre.invalid" class="alert alert-danger">Campo "nombre" obligatorio.</div>

            <!-- Campo apellido  1-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Apellido 1 *</span>
                </div>
                <input class="form-control" type="text" name="apellido1" formControlName="apellido1"
                    placeholder="Ej: Pellin">
            </div>
            <div *ngIf="apellido1.invalid" class="alert alert-danger">Campo "Apellido 1" obligatorio.</div>

            <!-- Campo apellido  2-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Apellido 2</span>
                </div>
                <input class="form-control" type="text" name="apellido2" formControlName="apellido2"
                    placeholder="Ej: Mongay">
            </div>


            <!-- Campo email-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email *</span>
                </div>
                <input class="form-control" type="email" name="email" formControlName="email"
                    placeholder="Ej: eloip@gmail.com">
            </div>
            <div *ngIf="email.invalid" class="alert alert-danger">Campo "Email" obligatorio.</div>

            <!-- Campo telefono-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Teléfono 1 *</span>
                </div>
                <input class="form-control" type="text" name="telefono" formControlName="telefono" maxlength="9"
                    minlength="9" placeholder="Ej: 648767687">
            </div>


            <!-- Campo telefono-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Teléfono 2</span>
                </div>
                <input class="form-control" type="text" name="telefono2" formControlName="telefono2" maxlength="9"
                    minlength="9" placeholder="Ej: 964767676">
            </div>
            <div *ngIf="telefono.invalid" class="alert alert-danger">Campo "Telefono 1" inválido.</div>

            <!-- Campo dni-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">DNI *</span>
                </div>
                <input class="form-control" type="text" name="dni" formControlName="dni" maxlength="9" minlength="9"
                    placeholder="Ej: 20578776Y">
            </div>
            <div *ngIf="dni.invalid" class="alert alert-danger">Campo "DNI" obligatorio.</div>

            <!-- Campo fecha de nacimiento-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Fecha de nacimiento *</span>
                </div>
                <input class="form-control" type="date" name="fNacimiento" formControlName="fNacimiento"
                    max="{{ eighteenYearsAgo | date:'yyyy-MM-dd' }}">
            </div>
            <div *ngIf="fNacimiento.invalid" class="alert alert-danger">Campo "Fecha de nacimiento" obligatorio.</div>

            <!-- Campo curso-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Curso</span>
                </div>
                <select class="form-control" formControlName="curso">
                    <option value="inversiones">Inversiones</option>
                    <option value="altacocina">Alta cocina</option>
                    <option value="ingles">Inglés</option>
                    <option value="conduccion">Conducción</option>
                </select>
            </div>
            <div *ngIf="curso.invalid" class="alert alert-danger">Campo "Curso" obligatorio.</div>

            <!-- Checkbox mayor de edad -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="adulto" formControlName="adulto" required>
                <label class="form-check-label">Confirmo que soy mayor de edad *</label>
            </div>
            <div *ngIf="adulto.invalid" class="alert alert-danger">Campo "Adulto" obligatorio.</div>

            <!-- Botón enviar -->
            <button type="submit" (click)="simpleAlert()" [disabled]="MyNewForm.invalid">Inscribirme</button>
        </form>
    </div>
</body>