body{
    top: 0;
    left: 0;
    margin: 0;
    background-color: lightgreen;
    padding: 15px;
    text-align: center;
}
.miFormulario{
    display: flex;
    justify-content: center;
}
span{
    min-width: 125px;
}