<body>
    <h2>Ofrecemos diferentes curos online</h2>
    <p>¡Bienvenido a nuestra plataforma de cursos online! Estamos emocionados de ofrecerle una amplia variedad de
        opciones para ayudarlo a mejorar sus habilidades y conocimientos. Todos nuestros cursos son impartidos por el
        profesor Julián, quien cuenta con amplia experiencia en cada una de las áreas que ofrecemos. <br>
    <div class="centrar">
        <section id="inversion">
            <h1><i class="far fa-chart-bar"></i> Inversión</h1>
            <img src="../../../assets/inversion.png" alt="">
            <p>Si está interesado en aprender a invertir de manera inteligente y rentable, nuestro curso de inversiones
                es
                perfecto para usted. Aprenderá las mejores estrategias y técnicas para maximizar sus ganancias y
                minimizar
                los riesgos en el mercado financiero.</p>
        </section>

        <section id="ingles">
            <h1><i class="fas fa-language"></i> Inglés</h1>
            <img src="../../../assets/ingles.png" alt="">
            <p>¿Está buscando mejorar su inglés para abrir nuevas oportunidades en su carrera? ¡Tenemos justo lo que
                necesita! Nuestro curso de inglés está diseñado para ayudarlo a mejorar sus habilidades de comunicación
                en
                el idioma, con un enfoque en la gramática, vocabulario y pronunciación.</p>
        </section>

        <section id="altacocina">
            <h1><i class="fas fa-utensils"></i> Alta cocina</h1>
            <img src="../../../assets/altacocina.png" alt="">
            <p>Si su pasión es la cocina y desea llevar sus habilidades culinarias al siguiente nivel, nuestro curso de
                alta
                cocina es justo lo que necesita. Aprenderá técnicas avanzadas de cocina, preparación y presentación de
                platos, junto con la historia y cultura detrás de algunos de los platos más populares de todo el mundo.
            </p>
        </section>

        <section id="conduccion">
            <h1><i class="fas fa-car"></i>Conducción</h1>
            <img src="../../../assets/conduccion.png" alt="">
            <p>Finalmente, si está buscando mejorar sus habilidades de conducción, nuestro curso de conducción es la
                elección perfecta para usted. Aprenderá a conducir de manera segura y eficiente en diferentes
                situaciones de
                tráfico, incluyendo conducción en ciudad, carretera y en condiciones adversas.</p>
        </section>
    </div>
    <div class="final">
        <p>Nuestros cursos están diseñados para adaptarse a su estilo de vida ocupado, con lecciones en línea accesibles
            desde cualquier lugar y en cualquier momento. Además, tendrá acceso a materiales de aprendizaje de alta
            calidad
            y soporte técnico siempre que lo necesite.

            <br> No pierda más tiempo y únase a nuestra plataforma hoy mismo. ¡Julián está listo para enseñarle lo que
            necesita para alcanzar el éxito en cada uno de nuestros cursos!
        </p>
    </div>


</body>